{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>МТУСИч</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/topic.css' %}" type="text/css" rel="stylesheet">
    {% include "posts/posts_styles.html" %}
</head>
<body>
{% include "includes/header.html" %}
<main>
<div class="content">
    <h1 class="topic-title">{{ topic.title }}</h1>
    {% if user.is_authenticated %}
    <form action="{% url 'topics:posts:create_post' topic.slug  %}" 
        method="post" 
        class="create-post-form"
        data-parent-type="post"
        data-parent-id="{{ post.id }}">
        <h2 class="form-title">СОЗДАТЬ ПОСТ</h2>
        {% csrf_token %}
        <label>Введите название поста:</label><br />
        <input type="text" name="title" placeholder="Введите название..."/><br /><br />
        <label>Введите текст поста:</label><br />
        <textarea class="adaptive-textarea" name="text" placeholder="Создать пост..."></textarea>
        <button type="submit">Создать</button>
    </form>
    {% endif %}
    {% include 'posts/posts.html' %}
</div>
</main>
<script src="{% static "js/adaptive_textarea.js" %}"></script>
<script src="{% static "js/clickable_post.js" %}"></script>
<script src="{% static "js/vote.js" %}"></script>
<script src="{% static "js/edit_post.js" %}"></script>
<script src="{% static "js/delete_post.js" %}"></script>
</body>
</html>