<div id="topics">
    <h3 class="topics__title">Тематика</h3>
    <ul class="topics__ul">
        {% for topic in topics %}
            <li><a href="/{{ topic.slug }}" class="topic-entrance">{{ topic.title }}</a></li>
        {% endfor %}
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
        <li><a href="*" class="topic-entrance">Заглушка</a></li>
    </ul>
</div>