{% load static %}
<div class="comment-section">
    

    <form action="{% url 'comments:create_comment' %}" 
        method="post" 
        class="create-comment-form">
        {% csrf_token %}
        <textarea id="adaptive-textarea" name="comment" placeholder="Добавить комментарий..."></textarea>
        <button type="sumbit">Отправить</button>
    </form>
{% if comments %}
<ul class="comments">
    {% for comment in comments %}
    <div>   
        <li class="comment">
            <form action="{% url 'comments:delete_comment' comment.id %}" 
                method="post" 
                class="delete-comment-form">
                {% csrf_token %}
                <button type="sumbit">Удалить</button>
            </form>
            <div class="comment-header">
            <img />
            <small>{{ comment.user.username }}</small>
            </div>
            <p>{{ comment.text }}</p>
                
            {% include "posts/vote_form.html" with type='comment' %}

            <div class="comment-footer">
                <small>{{ comment.date }}</small>
                {% if comment.replies.all %}
                <button class="comment-show-replies"><small>Показать ответы...</small></button>
                {% endif %}
            </div>
        </li>
        
        {% include "posts/replies.html" with replies=comment.replies.all %}
    </div> 
    {% endfor %}
</ul>
{% endif %}
<script src="{% static "js/textarea.js" %}"></script>
<script src="{% static "js/show_replies.js" %}"></script>
</div>
