<div class="post post_type_reply  " id="post-3552855" data-num="3552855">

    <div class="post__details" id="post-details-3552855">
        <input type="checkbox" name="delete" class="turnmeoff" value="3552855">
        
        <span class="post__detailpart">
        <span class="post__anon">Аноним&nbsp;<span style="color:rgb(164,164,164);">(Google Android: Mobile Safari)</span></span>
        </span>
        <span class="post__detailpart">
            <span class="post__time">03/11/24 Вск 15:39:57</span>
        </span>
        <span class="post__detailpart">
            <a href="/s/res/3548411.html#3552855" id="3552855" class="post__reflink">№</a>
            <a href="/s/res/3548411.html#3552855" class="js-post-reply-btn post__reflink" data-num="3552855">3552855</a>
            </span>
        <span class="post__detailpart">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="post__btn post__btn_type_menu icon desktop" data-num="3552855"><use xlink:href="#icon__addmenu"></use></svg>
            <span data-num="3552855" onclick="addAdminMenu(this); return false;" onmouseout="removeAdminMenu(event); return false;" style="display: flex;">
                <svg xmlns="http://www.w3.org/2000/svg" class="post__btn post__btn_type_adm icon"><use xlink:href="#icon__report"></use></svg>
            </span>
            </span>
    </div>

    <article id="m3552855" class="post__message ">
        <a href="/s/res/3548411.html#3552724" class="post-reply-link" data-thread="3548411" data-num="3552724">&gt;&gt;3552724</a><br>Щас вагнера подъедут
    </article>

    <div id="refmap-3552855" class="post__refmap" style="display: none;"></div>
</div>