<article class="post-container">
    <div class="post-header">
        <h2 class="post-header"><a href="{% url 'topics:posts:post_detail' topic.slug post.topic_post_id %}">{{ post.title }}</a></h2>
        <p class="post-meta">Автор: {{ post.user }} | {{ post.date }}</p>
    </div>

    <div class="post-text">
        <p>{{ post.text }}</p>
    </div>

    <div class="vote-section">
        {% include "posts/vote_form.html" with type='post' %}
    </div>

    <div class="comment-section">
        <h2>Комментарии</h2>
        {% include "posts/comments.html" with comments=post.comments.all %}
    </div>

    <form method="post">
        {% csrf_token %}
        <!-- TODO: Добавить форму -->
        <button type="submit">Добавить комментарий</button>
    </form>
</article>