<article class="post-container">
    <div class="post-header">
        <h2 class="post-header">{{ post.title }}</h2>
        <p class="post-meta">Автор: {{ post.user }} | {{ post.date }}</p>
    </div>

    <div class="post-text">
        <p>{{ post.text }}</p>
    </div>

    <div class="vote-section">
        <form action="{% url 'scores:vote_scores' 'post' post.id %}" 
            data-get-url="{% url 'scores:get_scores' 'post' post.id %}" 
            method="post" 
            class="vote-form vote-buttons">
            {% csrf_token %}
            <button
                type="submit"
                name="vote_type"
                value="up"
                class="vote-button">
                ▲
            </button>
            <span class="upvotes"></span>
            <button
                type="submit"
                name="vote_type"
                value="down"
                class="vote-button">
                ▼
            </button>
            <span class="downvotes"></span>
        </form>
    </div>

    <div class="comment-section">
        <h2>Комментарии</h2>
        {% include "posts/comments.html" with comments=post.comments.all %}
    </div>

    <form method="post">
        {% csrf_token %}
        <!-- TODO: Добавить форму -->
        <button type="submit">Добавить комментарий</button>
    </form>
</article>