{% include "posts/base.html" %}
{% if posts %}
    <ul class="posts">
        {% for post in posts %}
            {% if not post.is_comment %}
            <li class="post">
                <a href="{% url 'posts:post_detail' topic.slug post.post.topic_post_id %}">{{ post.post.title }}</a>
                <p class="upvotes" data-post-id="{{ post.post.topic_post_id }}" data-type="post">Upvotes: {{ post.post.upvotes }}</p>
                <p class="downvotes" data-post-id="{{ post.post.topic_post_id }}" data-type="post">Downvotes: {{ post.post.downvotes }}</p>
                <form action="{% url 'posts:vote_post' topic.slug post.post.topic_post_id 'up' %}" method="post" class="vote-form" data-post-id="{{ post.post.topic_post_id }}" data-type="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="vote-button {% if post.post.user_vote_type == 'up' %}selected{% endif %}"
                        data-vote-type="up">
                        Upvote
                    </button>
                </form>
                <form action="{% url 'posts:vote_post' topic.slug post.post.topic_post_id 'down' %}" method="post" class="vote-form" data-post-id="{{ post.post.topic_post_id }}" data-type="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="vote-button {% if post.post.user_vote_type == 'down' %}selected{% endif %}"
                        data-vote-type="down">
                        Downvote
                    </button>
                </form>
                <p>{{ post.post.description }}</p>
                <small>{{ post.post.date }}</small>

                {% include "posts/comments.html" with comments=post.comments %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% include "posts/vote.html" %}
    
{% else %}
    <p>Нет постов в данном топике.</p>
{% endif %}
