<!DOCTYPE html>
<html>
    {% include "posts/base.html" %}
    <head>
        <meta charset="utf-8">
        <title>{{ topic.slug }}: {{ post.title }}</title>
    </head>
    <body>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        <p>Автор: {{ post.user }} | {{ post.date }}</p>

        <h2>Голоса</h2>
        <p class="upvotes" data-post-id="{{ post.post.topic_post_id }}" data-type="post">Upvotes: {{ upvotes }}</p>
        <p class="downvotes" data-post-id="{{ post.post.topic_post_id }}" data-type="post">Downvotes: {{ downvotes }}</p>
        <form action="{% url 'topics:posts:vote_post' topic.slug post.topic_post_id 'up' %}" method="post" class="vote-form" data-comment-id="{{ post.topic_post_id }}" data-type="post">
            {% csrf_token %}
            <button
                type="submit"
                class="vote-button {% if post.user_vote_type == 'up' %}selected{% endif %}"
                data-vote-type="up">
                Upvote
            </button>
        </form>
        <form action="{% url 'topics:posts:vote_post' topic.slug post.topic_post_id 'down' %}" method="post" class="vote-form" data-comment-id="{{ post.topic_post_id }}" data-type="post">
            {% csrf_token %}
            <button
                type="submit"
                class="vote-button {% if post.user_vote_type == 'down' %}selected{% endif %}"
                data-vote-type="down">
                Downvote
            </button>
        </form>

        <h2>Комментарии</h2>
        {% include "posts/comments.html" with comments=post.comments.all %}

        <form method="post">
            {% csrf_token %}
            <!-- TODO: Добавить форму -->
            <button type="submit">Добавить комментарий</button>
        </form>
    </body>

    {% include "posts/vote.html" %}
</html>