{% for post in posts %}
    <div>{{ post.title }}</div>
    <div>{{ post.description }}</div>
{% endfor %}

<article class="post">
<div class="post-title">Название поста</div>
<div class="post-content">Текст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст поста</div>
<span class="post-extend">Читать полностью...</span>
<div class="post-buttons">
    <button class="like-button">Лайк</button>
    <button class="comment-button">Комментировать</button>
</div>
</article>

<article class="post">
    <div class="post-title">Название поста</div>
    <div class="post-content">Текст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст поста</div>
    <div class="post-buttons">
        <button class="like-button">Лайк</button>
        <button class="comment-button">Комментировать</button>
    </div>
</article>

<article class="post">
    <div class="post-title">Название поста</div>
    <div class="post-content">Текст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст поста</div>
    <div class="post-buttons">
        <button class="like-button">Лайк</button>
        <button class="comment-button">Комментировать</button>
    </div>
</article>

<article class="post">
    <div class="post-title">Название поста</div>
    <div class="post-content">Текст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст поста</div>
    <div class="post-buttons">
        <button class="like-button">Лайк</button>
        <button class="comment-button">Комментировать</button>
    </div>
</article>

<article class="post">
    <div class="post-title">Название поста</div>
    <div class="post-content">Текст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст постаТекст поста</div>
    <div class="post-buttons">
        <button class="like-button">Лайк</button>
        <button class="comment-button">Комментировать</button>
    </div>
</article>
    


