{% if replies %}
<ul class="comments replies hidden">
    {% for reply in replies %}
    <div> 
        <li class="comment">
            <form action="{% url 'comments:delete_comment' reply.id %}" 
                method="post" 
                class="delete-comment-form">
                {% csrf_token %}
                <button class="button" type="submit">Удалить</button>
            </form>

            <button class="button show-edit-elements">Редактировать</button>

            <div class="comment-header">
            <img />
            <small>{{ comment.user.username }}</small>
            </div>

            <form action="{% url 'comments:edit_comment' comment.id %}" 
                method="post" 
                class="edit-comment-form">
            <p class="comment-text">{{ reply.text }}</p>
                {% csrf_token %}
            <textarea class="adaptive-textarea hidden" name="comment">{{ reply.text }}</textarea>
            <button type="submit" class="button submit-button hidden">Применить</button>
            </form>
            
            {% include "posts/vote_form.html" with type='reply' %}

            <form action="{% url 'comments:create_comment' %}" 
                method="post" 
                class="create-comment-form"
                data-parent-type="comment"
                data-parent-id="{{ reply.id }}">
                {% csrf_token %}
                <textarea class="adaptive-textarea" name="comment" placeholder="Ответить..."></textarea>
                <button class="button" type="submit">Ответить</button>
            </form>

            <small>{{ reply.date }}</small>
            
        </li>
    </div> 
    {% endfor %}
</ul>
{% endif %}
