{% if replies %}
<ul class="comments replies hidden">
    {% for reply in replies %}
        <li class="comment">
            <form action="{% url 'comments:delete_comment' reply.id %}" 
                method="post" 
                class="delete-comment-form">
                {% csrf_token %}
                <button type="sumbit">Удалить</button>
            </form>
            <div class="comment-header">
            <img />
            <small>{{ comment.user.username }}</small>
            </div>
            <p>{{ reply.text }}</p>
            
            {% include "posts/vote_form.html" with type='reply' %}

            <small>{{ reply.date }}</small>
            
        </li>
    {% endfor %}
</ul>
{% endif %}
