{% if replies %}
<ul class="replies">
    {% for reply in replies %}
        <li class="comment">
            <p>{{ reply.text }}</p>
            <form action="{% url 'scores:vote_scores' "comment" reply.id %}" data-get-url="{% url 'scores:get_scores' "comment" reply.id %}" method="post" class="vote-form">
                {% csrf_token %}
                <input
                    type="submit"
                    name="vote_type"
                    class="vote-button"
                    value="up" />
                <span class="upvotes"></span>
                <input
                    type="submit"
                    name="vote_type"
                    class="vote-button"
                    value="down" />
                <span class="downvotes"></span>
            </form>
            <small>{{ reply.date }}</small>
            
        </li>
    {% endfor %}
</ul>
{% endif %}
