html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(243, 152, 0);
}

.introduction {
    display: block;
    min-height: 100vh;
    padding: 1px 100px;
    background-color: black;
    outline-style: solid;
    justify-content: center;
    color: aliceblue;
}

.introduction-flex {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.introduction-logo {
    height: auto;
    width: 50%;
    object-fit: contain;
}

.introduction-text {
    width: 30%;
}

.introduction button {
    position: absolute;
    left: 50%;
    top: 92vh;
    transform: translateX(-50%);

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(243, 152, 0);
    background-color: black;
    color: whitesmoke;
    font-size: 32px;

    transition-duration: 0.5s;
}

.topic-container {
    max-width: 70%; 
    margin: 0 auto;    
}

@media (max-width: 1000px) {
    .introduction {
        height: auto;
    }
    .introduction-flex {
        flex-direction: column;
        align-items: center;
    }
    .introduction-logo {
        width: 100%;
    }
    .introduction-text {
        width: 100%;
    }
    .introduction button {
        display: block;
        transform: none;
        position: static;
        margin: 20px auto;
    }
    .topic-container {
        max-width: 85%;    
    }
}

.topics__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    list-style: none;
}

.topics__ul li {
    margin: 5px;
    padding: 5px;
    padding-top: 10px;

    border-radius: 10px;
    border-style: solid;

    background-color: black;

    transition-duration: 0.5s;
}

h3.topics__title {
    text-align: center;
}

.topic-entrance {
    display: flex;
    height: 100%;
    font-size: 20px;
}

#tracker-tab {
    position: absolute;
}




.introduction button:hover {
    background-color: rgb(243, 152, 0);
}

.topics__ul li:hover {
    border-color: rgb(243, 152, 0);
}

.topic-entrance:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.topic-entrance:not(:hover) {
    transform: scale(0.95);
    transition-duration: 0.5s;
}