html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background-color: whitesmoke;
    color: aliceblue;
}

a {
    color: rgb(243, 152, 0);
    text-decoration: none;
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
