html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(243, 152, 0);
}

.create-post-form {
    display: block;
    border: 4px solid rgb(243, 152, 0);
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(33, 12, 0);
    box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.4);
}

.create-post-form label {
    color: white;
}

.create-post-form button {
    padding: 10px;
    font-size: 18px;
    color: rgb(243, 152, 0);
    background-color: rgb(21, 8, 0);
    border: 4px solid rgb(243, 152, 0);
}

.create-post-form input, .create-post-form textarea {
    width: 100%;
    max-width: 100%; /* Ограничение по ширине */
    min-height: 40px; /* Минимальная высота */
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключение ручного изменения размера */
    font-family: Arial, sans-serif; /* Пример шрифта */
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box; /* Учитывает padding и border */
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    color: white;
}

.content {
    display: block;
    background-color: white;
    padding: 30px 0px;
    width: 65%;
    margin: 0 auto;
}

.content textarea, .content input {
    width: 100%;
    max-width: 100%; /* Ограничение по ширине */
    min-height: 40px; /* Минимальная высота */
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключение ручного изменения размера */
    font-family: Arial, sans-serif; /* Пример шрифта */
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box; /* Учитывает padding и border */
}

.topic-title {
    display: block;
    text-align: center;
    background-color: rgb(33, 12, 0);
    border: 8px solid rgb(243, 152, 0);
    border-left: none;
    border-right: none;
    color: white;
    padding: 10px;
}

article .footer-section {
    display: flex;
}

.comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 50px;
    border: 2px solid aliceblue;
    background-color: #0000004d;
    width: 80px;
    margin-left: 15px;
}
.comment-button:hover {
    opacity: 0.9;
}

article .footer-section .comment-svg {
    width: 25px;
    margin-right: 10px;
    filter: invert(0.8)
}


@media (max-width: 1000px) {
    .content {
        width: 100%;
    }
}