html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(243, 152, 0);
}

.content {
    display: block;
    background-color: white;
    padding: 30px 0px;
    width: 65%;
    margin: 0 auto;
}

.content textarea, .content input {
    width: 100%;
    max-width: 100%; /* Ограничение по ширине */
    min-height: 40px; /* Минимальная высота */
    overflow: hidden; /* Скрытие полос прокрутки */
    resize: none; /* Отключение ручного изменения размера */
    font-family: Arial, sans-serif; /* Пример шрифта */
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box; /* Учитывает padding и border */
}

.topic-title {
    display: block;
    text-align: center;
    background-color: rgb(33, 12, 0);
    border: 8px solid rgb(243, 152, 0);
    border-left: none;
    border-right: none;
    color: white;
    padding: 10px;
}

.content label {
    color: black;
}


@media (max-width: 1000px) {
    .content {
        width: 100%;
    }
}