
.vote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 150px;
    max-height: 20px;
}

.vote-section .upvotes, .vote-section .downvotes {
    font-size: 13px;
    font-weight: bold;
    word-wrap: break-word;
    white-space: nowrap;
}

.vote-buttons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.vote-button.selected {
    color: rgb(243, 152, 0);
    font-weight: bold;
}

.vote-button {
    font-size: 21px;
    font-weight: normal;
    background-color: transparent;
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.vote-button:hover {
    color: wheat;
}
