.vote-button.selected {
    color: rgb(243, 152, 0);
    font-weight: bold;
}

.vote-button {
    font-size: 21px;
    font-weight: normal;
    background-color: transparent;
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.vote-button:hover {
    color: wheat;
}
