.vote-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 50px;
    border: 2px solid aliceblue;
    background-color: #0000004d;
    width: 150px;
}

.vote-form .upvotes, .vote-form .downvotes {
    font-size: 13px;
    font-weight: bold;
    word-wrap: break-word;
    white-space: nowrap;
}

.vote-buttons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.vote-button.selected {
    color: rgb(243, 152, 0);
    font-weight: bold;
}

.vote-button {
    font-size: 21px;
    font-weight: normal;
    background-color: transparent;
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.vote-button:hover {
    color: wheat;
}