.vote-button.selected {
    background-color: rgb(243, 152, 0);
}

.vote-button {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.vote-button:hover {
    background-color: wheat;
}
