{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<title>МТУСИч</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="initial-scale=1">
		<link rel="icon" href="{% static "images/favicon.png" %}" sizes="32x32" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">
	</head>
	<body>
        <header class="introduction">
			<div class="introduction-flex">
			<img class="introduction-logo" src="{% static 'images/logo_mtuci4.png' %}" alt="">
			<section class="introduction-text">
				<p>Добро пожаловать. Снова.</p>
				<p>МТУСИч - это система форумов, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь. Здесь нет регистрации и подписываться не нужно, хотя это не избавляет вас от необходимости соблюдать правила. Все форумы, их список находится снизу, имеют собственную чётко ограниченную тематику.</p>
			</section>
			</div>
			<button type="button" onClick="document.getElementById('topics').scrollIntoView()">К тематикам</button>
		</header>
		<main>
			<section class="topic-container">
                {% include 'topics/topics.html' %}
			</section>
		</main>
		{% include 'includes/footer.html' %}
	</body>
</html>
