{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<title>МТУСИч</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
		<link href="/static/css/font-awesome.min.css" title="makaba" type="text/css" rel="stylesheet">
		<link href="{% static 'index.css' %}" type="text/css" rel="stylesheet"> <!-- хз если оно правильно подключилось -->
		<link href="/static/css/threadsubscribe.css?13" type="text/css" rel="stylesheet">
	</head>
	<body>
        <header class="introduction">
			<div class="introduction-flex">
			<img class="introduction-logo" src="{% static 'images/logo_mtuci4.png' %}" alt="">
			<section class="introduction-text">
				<p>Добро пожаловать. Снова.</p>
				<p>МТУСИч - это система форумов, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь. Здесь нет регистрации и подписываться не нужно, хотя это не избавляет вас от необходимости соблюдать правила. Все форумы (кроме <a href="/b/" target="blank">/Б/реда</a>), а их список находится снизу, имеют собственную чётко ограниченную тематику. Словом, всё, что не запрещено <a href="/static/rules.html" target="blank">правилами</a> отдельно взятого форума и относится к его тематике, на этом форуме разрешено.<br><br>На данный момент открыто <strong>163</strong> досок. Общая скорость постинга на имиджборде <strong>5709</strong>, за все время существования было оставлено <strong>661304227</strong> постов.</p>
			</section>
			</div>
			<button type="button" onClick="document.getElementById('topics').scrollIntoView()">К тематикам</button>
		</header>
		<main>
			<section class="topic-container">
                {% include 'topics/topics.html' %}
			</section>
			<section class="">
				Новости
				<div class=""></div>
			</section>
		</main>
		{% include 'includes/footer.html' %}
	</body>
</html>
