{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>МТУСИч</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        main {
            padding: 25px;
        }

        a {
            display: block;
            margin: 15px;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
<main>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/admin">АДМИН-ПАНЕЛЬ</a>
    <a href="/sign-up">РЕГИСТРАЦИЯ</a>
    <a href="/login">ЛОГИН - не работает!</a>
    <a href="/logout">ВЫХОД - не работает!</a>
    <a href="/bred">Топик "Бред"</a>
    <a href="/bred/posts/1/">Первый пост "Бреда"</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
    <a href="/">ГЛАВНАЯ</a>
</main>
</body>
</html>