{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>МТУСИч</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        main {
            padding: 25px;
        }

        a {
            display: block;
            margin: 15px;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
<main>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/admin" target="_blank">АДМИН-ПАНЕЛЬ</a>
    <a href="/sign-up" target="_blank">РЕГИСТРАЦИЯ</a>
    <a href="/login" target="_blank">ЛОГИН - не работает!</a>
    <a href="/logout" target="_blank">ВЫХОД - не работает!</a>
    <a href="/bred" target="_blank">Топик "Бред" (вставить адрес своего топика)</a>
    <a href="/bred/posts/1/" target="_blank">Первый пост "Бреда"(вставить хотя бы один пост в топик в панели)</a>
    <a href="/"target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
    <a href="/" target="_blank">ГЛАВНАЯ</a>
</main>
</body>
</html>